// Ocean Five palette (http://www.colourlovers.com/palette/1473/Ocean_Five)
@cyan:    #00A0B0;
@brown:   #6A4A3C;
@red:     #CC333F;
@orange:  #EB6841;
@yellow:  #EDC951;

@borderGray:       #ccc;

// Font
@fontSize:      16px;
@fontSizeSmall: 14px;
@fontSizeLarge: 25px;
@fontSizeInput:            24px;

// Dimensions
@width:               800px;

@canvasWidth:         0.75 * @width;
@canvasRatio :        750/1100; // equals the numbers in HTML
@canvasHeight:        @canvasWidth * @canvasRatio;

@logoWidth:           216px;
@logoMargin:          10px;

@panelWidth:          200px;

@boxWidth:            240px;
@boxSpacing:          80px;
@boxHeightMin:        100px;

@cubeSize:            11px;

html, body {
    margin: 0;
    padding: 0;
}

body, select {
    font-family: 'Roboto Condensed', sans;
    font-weight: 400;
    font-size: @fontSize;
}

.bold() {
    font-weight: 700;
}

b {
    .bold;
}

#logo {
    position: absolute;
    top: @logoMargin;
    left: (@width - @logoWidth) / 2;
    width: @logoWidth;
}
#formula {
    width: @canvasWidth;
}
#statusinfo {
    width: @canvasWidth;
}
#reaction {
    position: relative;
    top: 0px;
    left: 0px;
    margin-top: 0px;
}
#flyingdiv {
    position: absolute;
    top: @canvasHeight - 90px;
    left: @canvasWidth - 150px;
}

#startblocks {
    position: absolute;
    top: 20px;
    left: 10px;
    .bold;
    color: #000;
    font-size: 20px
}
#currentblocks {
    position: absolute;
    top: 20px;
    left: @canvasWidth / 2 - 25;
    .bold;
    color: #000;
    font-size: 20px
}
#goalblocks {
    position: absolute;
    top: 20px;
    left: @canvasWidth - 50px;
    .bold;
    color: #000;
    font-size: 20px
}

#container {
    position: relative;
    margin: 0 auto;
    width: @width;
}

#canvas {
    margin: 40px auto -40px auto;
    width: @canvasWidth;
    height: @canvasHeight;
}

.border() {
    border-radius: 5px;
    border: 1px solid @borderGray;
}


#panel {
    position: absolute;
    width: @panelWidth;
    top: 10px;
    right: 0px;

    padding: 0px;
}

#shortcuts {
    min-height: 110px;
    width: 100%;
}
#history {
    width: 100%;
}
#tasks {
    width: 100%;
    margin: 10px 0 5px 0;
    padding: 5px 10px;
    font-size: @fontSize;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 3px;
    outline: none;
    width: 100%;
    height:auto;
    overflow:auto;
}

#help {
    font-size: @fontSizeSmall;
    margin-top: 0;
}

#metaactions {
    visibility: visible;
    position: absolute;
    top: 230px+250px*0.75*750/1100;
    left: 215px;
    padding: 1px;
    text-align: center;

    #solved {
        font-size: 35px;
        .bold;
    }
}

#controls {
    overflow: hidden;
}
#maintextarea {
  display: inline-block;
  font-family: 'Roboto Condensed', sans;
  font-size: @fontSizeInput;
  appearance: none;
  outline: none;
  resize: none;
  width: @width*0.75-80px;
  border-radius: 5px;
  padding: 3px 5px;
  border: solid 3px #969696;
  margin-bottom:12px;
}
#maintextarea:focus {
  outline: none;
  border: solid 3px #000;
}
#helptext {
 width: @width*0.75-15px;
}
#statusinfo {
  margin-top:25px;
  margin-bottom: 0.5em;
}
.controlBox {
    text-align: center;
    float: left;
}


.left {
    margin-left: (@width - 2 * @boxWidth - @boxSpacing) / 2;
}

.right {
    margin-left: @boxSpacing;
}

.buttons {
    display: inline-block;
    margin: -3px 0px;
}


.button {
    cursor: pointer;
    margin: 3px;

    color: #000;
    font-size: 25px;
    text-decoration: none;

    @bgCol: #fefefe;
    background-color: @bgCol;
    padding: 2px 5px;

    border: 2px solid #666;
    border-bottom: 2px solid #000;
    border-radius: 3px;

    width: 40px;
    display: inline-block;
    position: relative;
    outline: none;
    text-align: center;
    &:hover {
        background-color: darken(@bgCol, 10);
    }
    &:disabled {
        background-color: #FFFFFF;
	color: #AAAAAA;
	border-color: #AAAAAA;
    }
}

.button--train {
    color: #000;
}
.button--solved {
    color: #000;
    font-size: 20px;
    width: 35px;
    height: 30px;
}

.button--big {
  width: auto;
  font-size: 14px;
}

.button--modal {
  font-size: 20px;
  padding: 6px 10px;
}

.width-30px{
    width: 30px;
    display: inline-block;
}

button[ctitle]:hover:after {
  content: attr(ctitle);
  padding: 2px 4px;
  border: 1px solid #000;
  border-radius: 2px;
  background-color: #FFFFFF;
  color: #000;
  position: absolute;
  font-size: @fontSizeSmall;
  left: 0;
  top: 100%;
  margin-top: 5px;
  white-space: nowrap;
  opacity: 1;
  z-index: 100;
}

.divider{
    width:20px;
    height:auto;
    display:inline-block;
}

p.footer {
    margin-top: 30px;
    font-size: @fontSizeSmall;
    text-align: center;
    color: #444;
}

a {
    color: @red;
}

.cube {
    display: inline-block;
    vertical-align: middle;
    width: @cubeSize;
    height: @cubeSize;
    margin: 0 1px;
    border: 1px solid #444;
    border-radius: 3px;
}

.stack {
    // Set this to 0. They would determine the height, otherwise.
    font-size: 0;

    // Spacing between the two cubes
    line-height: 2px;

    display: inline-block;
    vertical-align: middle;
    width: @cubeSize + 4px;

    .cube {
        width: @cubeSize - 2px;
        height: @cubeSize - 2px;
        vertical-align: baseline;
    }
}

.X      { background-color: #fff; border: 1px dotted #222; }
.Cyan   { background-color: @cyan; }
.Brown  { background-color: @brown; }
.Red    { background-color: @red; }
.Orange { background-color: @orange; }
.Yellow { background-color: @yellow; }

// 'flash' animation from Animate.css (https://github.com/daneden/animate.css)
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
}

#ghstars {
    margin-top: 8px;
}

.emojione {
  /* Emoji Sizing */
  font-size: inherit;
  height: 30px;
  width: 30px;
  min-height: 20px;
  min-width: 20px;

  /* Inline alignment adjust the margins  */
  display: inline-block;
  margin: -.2ex .15em .2ex;
  line-height: normal;
  vertical-align: middle;
}

img.emojione {
  /* prevent img stretch */
  width: auto;
}

#turker {
  font-size: 15px;
  color: blue;
}

.command-history-container {
  width: @width*0.75-20px;
  height: 200px;
  box-sizing: border-box;
}

#command_history {
  height: 170px;
  overflow-y: scroll;
  overflow-x: hidden;

  > div {
    min-height: 22px;
    width: 100%;
    padding: 2px;

    &:hover {
      cursor: pointer;
      background-color: #efefef;

      &:after {
        content: "⎌ go back to";
        float: right;
        padding: 0 5px;
        background-color: inherit;
      }
    }

    &.active {
      background-color: rgb(0, 105, 217);
      color: #fff;
    }
  }
}

.states {
  margin-top: 10px;
  display: none;
  &.active { display: block; }
}

.tutorial {
  display: none;
  &.active { display: block; }
}

.modal-container {
  position: fixed;
  background-color: rgba(64,64,64,0.7);
}

.modal {
  width: @width - 100px;
  height: 360px;
  background-color: #fff;
  padding: 20px 30px;
  overflow: hidden;
  position: relative;

  .half {
    width: 50%;
    padding-left: 10px;
    box-sizing: border-box;
    float: left;
  }

  .sticky-botright {
    position: absolute;
    right: 30px;
    bottom: 50px;
    text-transform: uppercase;
  }
}

#tutorial-s1.active,
#tutorial-s2.active,
#tutorial-s3.active,
#tutorial-s4.active,
#tutorial-s5.active {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvastarget,
#goalblocks,
.tutorial-s, {
  display: none;
  &.active { display: block; }
}

img.full {
  width: 95%;
}

#state_name {
  display: none;
  &.active { display: inline-block; }
  font-family: 'Roboto Condensed', sans;
  font-size: 14px;
  appearance: none;
  outline: none;
  resize: none;
  width: 100%;
  border-radius: 5px;
  padding: 3px 5px;
  border: solid 3px #969696;
  margin: 8px 5px;

  &:focus {
    outline: none;
    border: solid 3px #000;
  }
}

.hidden {
  display: none !important;
}

#define_interface {
  position: relative;
  width: @width*0.75-20px;
  min-height: 200px;
  background-color: #efefef;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid 3px lighten(#969696, 10%);
  font-size: 16px;

  > span {
    display: block;
  }

  input, button {
    display: inline-block;
  }

  .helpertext {
    font-size: 14px;
    padding: 20px;
  }
}

#define_phrase {
  margin: 0px;
}

.b-header {
  font-weight: bold;
  font-size: 20px;
}

#definetextarea:extend(#maintextarea) {
  margin: 0 0px;
  box-sizing: border-box;
  font-size: 16px;
  width: 87%;
}


#show_define_status {
  position: absolute;
  top: 200px;
  left: 300px;
  font-size: 20px;
}

.row-info {
  position: absolute;
  top: 235px+250px*0.75*750/1100;
  left: 380px;
  font-size: 16px;
  transform: rotateZ(-50deg);
}

.col-info:extend(.row-info) {
  top: 220px+250px*0.75*750/1100;
  left: 440px;
  transform: rotateZ(20deg);
}

.button--closed {
  position: absolute;
  right: 10px;
  top: 10px;
}

// stands for utterance
.utt {
font-style: italic;
}

.utt:before
{
content: open-quote;
}

.utt:after
{
content: close-quote;
}
