.Community {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Community > div {
  flex-basis: 48%;
  min-width: 400px;
  flex-shrink: 0;
  flex-grow: 1;
}

.Community-header {
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.Community-header h3 {
  font-size: 2.4rem;
}

.Community-header h3,
.Community-header p {
  margin: 0;
  padding: 0;
}

.Community-content {
  width: 100%;
  margin-bottom: 50px;
}
