.SharePanel-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  width: 100%;
}

.SharePanel-buttons .yourstructs {
  width: 150px;
  font-size: 1em;
}

.SharePanel-buttons select {
  min-width: 75px;
}

.SharePanel-buttons .yourstructs button {
  font-size: 0.9em;
  height: auto;
}

.SharePanel-buttons button {
  cursor: pointer;
}
