@import (css) "../../node_modules/sanitize.css/sanitize.css";
@import (css) "../../node_modules/awesomplete/awesomplete.css";

@font-family: 'Roboto', 'Helvetica', sans-serif;
@font-size: 1.4rem;

@width: 1100px;
@panelWidth: 0.25 * @width;
@mainWidth: 0.75 * @width;

@red: rgb(204, 51, 63);
@cyan: rgb(0, 160, 176);
@brown: rgb(106, 74, 60);
@yellow: rgb(237, 201, 81);
@orange: rgb(235, 104, 65);
@overlayColor: rgba(60,60,60,0.75);
@bgColor: rgb(240, 240, 240);

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: @font-family;
  background-color: @bgColor;
  font-size: 62.5%;
}

.container {
  width: @width;
  height: auto;
  margin: 0 auto;
  font-size: @font-size;
}

.main,
.panel {
  display: inline-block;
  float: left;
  height: 100%;
}

.main {
  width: @mainWidth;
  position: relative;
}

.panel {
  width: @panelWidth;
  padding: 4% 0;
}

.hidden {
  display: none;
}

.header {
  width: 100%;
  height: 50px;
  background-color: @cyan;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15),
              0 3px 5px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10%;
  color: #FFF;
}

.logo {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1.5px;

  // & .l-r { text-shadow: -1px 0 @red, 0 1px @red, 1px 0 @red, 0 -1px @red; }
  // & .l-y { text-shadow: -1px 0 @yellow, 0 1px @yellow, 1px 0 @yellow, 0 -1px @yellow; }
  // & .l-o { text-shadow: -1px 0 @orange, 0 1px @orange, 1px 0 @orange, 0 -1px @orange; }
  // & .l-b { text-shadow: -1px 0 @brown, 0 1px @brown, 1px 0 @brown, 0 -1px @brown; }
}

.sublogo {
  font-weight: 100;
  letter-spacing: normal;
}

.nav {
  align-self: flex-end;
  height: 100%;

  & > div {
    display: inline-flex;
    height: 100%;
    width: auto;
    padding: 0 15px;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    &:hover {
      background-color: rgba(244, 244, 244, 0.5);
      cursor: pointer;
    }
  }
}

#main_canvas {
  width: @mainWidth; /* 1/2 of the HTML width for optimal resolution */
  height: 600px; /* likewise for height */
  margin-bottom: -50px;
}

#target_canvas {
  width: @panelWidth;
  height: 400px;
}

input {
  width: 100%;
  background-color: #FFF;
  font-family: @font-family;
  font-size: 2.2rem;
  line-height: 1.4;
  padding: 10px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15),
              0 3px 5px rgba(0,0,0,0.08);

  &:hover,
  &:focus {
    outline: none;
  }
}

button {
  font-size: 1.4rem;
  line-height: 1.6;
  width: auto;
  padding: 5px 10px;
  margin: 5px;
  font-family: @font-family;
  text-transform: uppercase;
  color: #000;
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15),
              0 1.5px 2.5px rgba(0,0,0,0.08);
  transition: 0.2s ease background-color;

  &:hover {
    background-color: @cyan;
    color: #FFF;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }

  &.seethrough {
    box-shadow: none;
    border: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
      color: #000;
    }
  }

  &.bold-button {
    background-color: @cyan;
    color: #FFF;

    &:hover {
      background-color: @yellow;
    }
  }
}

.console-area,
.define-area {
  margin: 0 auto;
  width: 90%;
}

.define-area {
  background-color: rgba(60, 60, 60, 0.08);
  padding: 10px;
  border-radius: 5px;
}


.input-group {
  width: 100%;
  background-color: #FFF;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15),
              0 3px 5px rgba(0,0,0,0.08);
  padding: 0;
  margin-bottom: 20px;

  & input {
    width: 73.5%;
    margin: 0;
    box-shadow: none;
  }

  & input:focus ~ .buttons-at-end > .enter-button,
  & .buttons-at-end > .enter-button.active {
    background-color: @cyan;
    cursor: pointer;
  }

  & .buttons-at-end {
    float: right;
    width: 26.5%;
    height: 5rem;
    margin: 0;
    padding: 0 10px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
  }

  & button {
    height: 3.5rem;
    background-color: rgb(150, 150, 150);
    color: #FFF;
    cursor: default;
  }

  & .remove-button {
    background-color: transparent;
    color: rgb(150, 150, 150);
    box-shadow: none;
    border-radius: 50%;
    border: 3px solid rgb(150, 150, 150);
    line-height: 0.7;
    height: 25px;
    width: 25px;
    font-size: 2rem;
    letter-spacing: 5px;
    padding: 0;
    padding-left: 5px;
    text-align: center;
    transition: 0.15s ease opacity;
    opacity: 0;
  }
}

.input-group.accepting {
  & .buttons-at-end {
    & .accept-button {
      background-color: @cyan;
      cursor: pointer;
    }

    & .remove-button {
      opacity: 1;
      cursor: pointer;
      &:hover {
        color: @cyan;
        border-color: @cyan;
      }
    }
  }
}

.status {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.reaction img {
  height: 3.6rem;
  margin-right: 10px;
}

.meta-buttons {
  height: 130px;
  width: 170px;
  position: absolute;
  top: 460px;
  right: 40px;
  text-align: right;
}

.define-area {
  display: none;
  position: relative;

  &.active {
    display: block;
  }
}

.define-area.active ~ .console-area {
  display: none;
}

.awesomplete {
  width: 73.5%;

  & input {
    width: 100%;
  }

  & ul {
    min-width: 200px !important;
    width: 1024px !important;
    height: 30px !important;

    & li {
      width: auto !important;
      display: inline-block;

      &:after {
        content: ", ";
      }
    }
  }
}

.card {
  background-color: #FFF;
  width: 100%;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15),
              0 3px 5px rgba(0,0,0,0.08);
  margin-bottom: 30px;
}

.target {
  height: 300px;
  overflow-y: hidden;
  position: relative;
}

.card-header {
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2;
  padding: 0 10px;
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba(60, 60, 60, 0.2);

  & button {
    float: right;
  }
}

.target-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  border-top: 1px solid rgba(60, 60, 60, 0.2);

  & > div {
    width: 50%;
    height: 100%;
    float: left;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:first-child {
      border-right: 1px solid rgba(60, 60, 60, 0.2);
    }
  }
}

::-webkit-scrollbar {
  background-color: @bgColor;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(60, 60, 60, 0.2);
}

.history {
  height: 300px;
}

.history-steps {
  padding: 20px 10px;
  height: 250px;
  overflow-y: scroll;

  & > div {
    padding: 3px 10px;
    border-radius: 2px;
    margin-bottom: 5px;
    background-color: #FFF;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15),
                0 1.5px 2.5px rgba(0,0,0,0.08);

    &.active {
      background-color: @cyan;
      color: #FFF;
    }
  }
}

.modal-container {
  background-color: rgba(60, 60, 60, 0.3);
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  &.active {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  & .modal {
    width: .8 * @width;
    height: 70%;
    background-color: #FFF;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  & .modal-header {
    width: 100%;
    border-bottom: 1px solid rgba(60, 60, 60, 0.2);
    font-size: 3.6rem;
    font-weight: 700;
    padding: 20px 30px;
  }

  & .modal-body {
    padding: 20px 30px;
    font-size: 1.6rem;
  }
}

.curr_steps {
  display: inline-block;
}

#define_header {
  font-weight: 900;
  padding-right: 50px;
}

#close_define {
  position: absolute;
  right: 10px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: rgb(150, 150, 150);
  box-shadow: none;
  border-radius: 50%;
  border: 3px solid rgb(150, 150, 150);
  line-height: 0.7;
  height: 25px;
  width: 25px;
  font-size: 2rem;
  letter-spacing: 5px;
  padding: 0;
  padding-left: 6px;
  text-align: center;
  cursor: pointer;
  z-index: 999;

  &:hover {
    border-color: @cyan;
    color: @cyan;
  }
}

.canvas-prompt {
  position: absolute;
  top: 100px;
  left: 100px;
  height: 300px;
  width: 300px;
  padding: 15px 30px;
  background-color: #FFF;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15),
              0 3px 5px rgba(0,0,0,0.08);
}

.color-good {
  color: green;
  border: 2px solid green;
}

.rotate-icons {
  position: absolute;
  top: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;

  & > div {
    padding: 5px;
    margin: 3%;
    width: 44%;
    height: 44%;
    border-style: solid;
    border-color: #FFF;
    background-color: #FFF;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15),
                0 1.5px 2.5px rgba(0,0,0,0.08);

    &:hover,
    &.active {
      background-color: @cyan;
      cursor: pointer;
    }
  }

  #rtl {
    border-left-radius: 10px;
    border-top-left-radius: 100%;
  }

  #rbl {
    border-left-radius: 10px;
    border-bottom-left-radius: 100%;
    border-color: @cyan;
  }

  #rtr {
    border-right-radius: 10px;
    border-top-right-radius: 100%;
  }

  #rbr {
    border-right-radius: 10px;
    border-bottom-right-radius: 100%;
  }
}

.usercanvas {
  width: 200px;
  height: 200px;
}

#user_structs {
  list-style-type: none;
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  & li {
    display: inline;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 20px;
    max-width: 200px;
  }
}
