.LiveUtterances {
  display: flex;
  padding: 50px;
  flex-wrap: wrap;
}

.LiveUtterances-group {
  margin-bottom: 15px;
  background-color: #FFF;
  box-shadow: 0 4px 8px rgba(51, 51, 51, 0.15);
  padding: 15px;
}

.LiveUtterances-groupid {
  padding: 0 20px 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.LiveUtterances-groupid .time {
  color: rgba(60, 60, 60, 0.6);
  font-size: 1.4rem;
}

.LiveUtterances-groupid .title {
  color: rgba(60, 60, 60, 0.6);
  text-transform: uppercase;
  font-size: 1.4rem;
}

.LiveUtterances-utterance {
  padding: 5px;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.15);
  border: 1px solid rgba(51, 51, 51, 0.05);
  margin: 4px;
  position: relative;
}

.LiveUtterances-utterance .define {
  font-weight: 700;
}

.LiveUtterances-utterance-body {
  display: none;
}

.LiveUtterances-utterance:hover .LiveUtterances-utterance-body {
  display: block;
  position: absolute;
  z-index: 100;
  top: 80%;
  background-color: #FFF;
  padding: 5px;
  width: 300px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
}
