.CommandBar {
  width: 100%;
  box-shadow: 0 6px 24px rgba(60, 60, 60, 0.18);
  display: flex;
}

.CommandBar button {
  margin: 0;
  box-sizing: border-box;
  height: auto;
  min-width: 15%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}