.History {
  width: 250px;
  margin-right: 10px;
}

.History h2 {
  font-weight: bold;
  letter-spacing: 0px;
}

.History-rows {
  width: 100%;
}

.History-row,
.History-item {
  width: 100%;
}

.History-row,
.History-row.squashing .History-item {
  box-shadow: 0 3px 6px rgba(51,51,51,0.15);
}

.History-item {
  background-color: #FFF;
  display: flex;
  cursor: pointer;
}

.History-item:hover {
  background-color: rgba(0, 160, 176, 0.1);
}

.History-row.active .History-item {
  background-color: rgba(0, 160, 176, 0.8);
  color: #FFF;
}

.History-row:not(:nth-child(1)) .History-item {
  border-top: 1px solid rgb(220, 220, 220);
}

.History-item > div {
  padding: 8px 5px;
}

.History-row.next .History-item {
  opacity: 0.3;
}

.History-item-num {
  min-width: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(230, 230, 230);
  background-color: rgb(250, 250, 250);
  font-weight: 100;
  flex-shrink: 0;
  color: #000;
}

.History-item-num-squashing {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: rgba(0, 160, 176, 0.7);
}

.History-item-text {
  margin-left: 5px;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(230, 230, 230, 0.5);
}

.History-row.squashing {
  background-color: #efefef;
  padding: 0 10px;
}

.History-row.squashing:first-child {
  padding-top: 15px;
}

.History-row.lastsquasher {
  padding-bottom: 15px;
}

.History-row.squashing + .History-row:not(.squashing) {
  margin-top: 20px;
}

.History-row-squasher {
  padding-top: 20px !important;
}

.History-row-squasher-label {
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 8px;
}

.History-row-squasher-endlabel {
  font-size: 0.9em;
  clear: both;
}

.History-row-squasher-input {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.History-row-squasher.lastsquasher {
  margin-bottom: 20px;
}

.History-row-squasher button {
  font-size: 1rem;
  line-height: 1.2;
  height: 30px;
  padding: 2px 5px;
  margin-bottom: 10px;
  float: right;
  cursor: pointer;
}
